/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define L1 0
#define L2 1
#define L3 2
#define L4 3

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

/ {
    keymap {
        compatible = "zmk,keymap";

L1 {
bindings = <
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮                    LETTERS                      ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
  &kp   ESC   &kp   Q     &kp   W     &kp   E     &kp   R     &kp   T                                                       &kp    Y    &kp    U    &kp    I    &kp    O    &kp    P    &kp  BSLH
//├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                 ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  
  &kp   TAB   &kp   A     &kp   S     &kp   D     &kp   F     &kp   G                                                       &kp    H    &kp    J    &kp    K    &kp    L    &kp   SEMI  &kp   SQT
//├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┬───────────╮ ╭───────────┬───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
  &kp  LSHFT  &kp   Z     &kp   X     &kp   C     &kp   V     &kp   B     &none       &none         &none       &none       &kp    N    &kp    M    &kp  COMMA  &kp   DOT   &kp   FSLH  &kp  RCTRL
//╰───────────┴───────────┴───────────┼───────────┼──────────┬┼┬──────────┼───────────┬───────────┤ ├───────────┬───────────┼──────────┬┼┬──────────┼───────────┼───────────┴───────────┴───────────╯
                                      &kp  LGUI   &kp  LALT   &kp  LSHFT  &to   L1    &kp   L2      &kp   L3    &kp  RET    &kp SPACE   &kp   BSPC  &kp   DEL
//                                    ╰───────────┴──────────┴┴┴──────────┴───────────┴───────────╯ ╰───────────┴───────────┴──────────┴┴┴──────────┴───────────╯
>;
sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
};

L2 {
bindings = <
// { }   [ ]   ( )   < >   ' "         ! ¬ ` £ $ % ^ &     * _ - + = # ~ @ ? |
//╭──── \ ────┬──── } ────┬──── ] ────┬──── ) ────┬──── > ────┬──── " ────╮          BRACKETS + NUMERIC + VOLUME            ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
  &kp  BSLH   &kp  RBRC   &kp  RBKT   &kp  RPAR   &kp  GT     &kp  DQT                                                      &kp C_MUTE   &kp   N7   &kp   N8    &kp   N9    &none       &none
//├──── / ────┼──── { ────┼──── [ ────┼──── ( ────┼──── < ────┼──── ' ────┤                                                 ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  
  &kp  FSLH   &kp  LBRC   &kp  LBKT   &kp  LPAR   &kp  LT     &kp  SQT                                                      &kp C_VOL_UP &kp   N4   &kp   N5    &kp   N6    &none       &none
//├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┬───────────╮ ╭───────────┬───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
  &kp  LSHFT  &kp   Z     &kp   X     &kp   C     &kp   V     &kp   B     &none       &none         &none       &none       &kp C_VOL_DN &kp   N1   &kp   N2  &kp     N3    &none       &none
//╰───────────┴───────────┴───────────┼───────────┼──────────┬┼┬──────────┼───────────┬───────────┤ ├───────────┬───────────┼──────────┬┼┬──────────┼───────────┼───────────┴───────────┴───────────╯
                                      &kp  LGUI   &kp  LALT   &kp  LSHFT  &to   L1    &kp   L2      &kp   L3    &kp  RET    &kp SPACE   &kp   BSPC  &kp   N0
//                                    ╰───────────┴──────────┴┴┴──────────┴───────────┴───────────╯ ╰───────────┴───────────┴──────────┴┴┴──────────┴───────────╯
>;
sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
};

L3 {
bindings = <
// { } [ ] ( ) < >
//╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮               F Keys                            ╭───────────┬───────────┬───────────┬───────────┬───────────┬───────────╮
  &kp   F1    &kp   F2    &kp   W     &kp   E     &kp   R     &kp   T                                                       &none       &kp   F7    &kp   F8    &kp   F9    &kp   F12   &kp  BSLH
//├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                                                 ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  
  &kp   TAB   &kp   A     &kp   S     &kp   D     &kp   F     &kp   G                                                       &none       &kp   F4    &kp   F5    &kp   F6    &kp   F11   &kp   SQT
//├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┬───────────╮ ╭───────────┬───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
  &kp  LSHFT  &kp   Z     &kp   X     &kp   C     &kp   V     &kp   B     &none       &none         &none       &none       &none       &kp   F1    &kp   F2    &kp    F3   &kp    F10   &kp  RCTRL
//╰───────────┴───────────┴───────────┼───────────┼──────────┬┼┬──────────┼───────────┬───────────┤ ├───────────┬───────────┼──────────┬┼┬──────────┼───────────┼───────────┴───────────┴───────────╯
                                      &kp  LGUI   &kp  LALT   &kp  LSHFT  &to   L1    &kp   L2      &kp   L3    &kp  RET    &kp SPACE   &kp   BSPC  &kp   DEL
//                                    ╰───────────┴──────────┴┴┴──────────┴───────────┴───────────╯ ╰───────────┴───────────┴──────────┴┴┴──────────┴───────────╯
>;
sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
};

    };
};
