/ {
    left_encoder: encoder_left {
        /delete-property/ resolution;
        steps = <60>;
    };

    right_encoder: encoder_right {
        /delete-property/ resolution;
        steps = <60>;
    };

    sensors {
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <30>;
    };
};
