/ {
    left_encoder: encoder_left {
        steps = <72>;
    };

    right_encoder: encoder_right {
        steps = <144>;
    };

    sensors {
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <72>;
    };
};
